.todo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #3F3D38;
  
}

.title{
  background-color: black;
  color: white;
  padding: 10px 0px;
  font-size: 23px;
  width: 200px;
  height: 40px;
}

.Navbar {
  background-color: black;
  color: white;
  width: 200px;
  height: 500px;

  list-style: none;
  
  font-size: 20px;
}
.navbtn {
  width: 200px;
  height: 45px;
  font-size: 15px;
  border: none;
  color: white;
  background-color: black;
}
.navbtn:hover {
  background-color: #181818;
}