@font-face {
  font-family: "SeoulHangang";
  src: url("../font/SeoulHangangM.ttf");
}
.total{
  margin: auto auto;
}

.todo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #3F3D38;
  font-family: "SeoulHangang", sans-serif;
}

.title{
  background-color: black;
  color: white;
  padding: 10px 0px;
  font-size: 22px;
  /*width: 200px;*/
  /*height: 40px;*/
}
.titleLogo{
  padding: 2px;
}

.Navbar {
  background-color: black;
  width: 200px;
  height: 500px;
}
.navbtn {
  width: 200px;
  height: 45px;
  font-size: 15px;
  border: none;
  color: white;
  background-color: black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-family: "SeoulHangang", sans-serif;
}
.navbtn:hover {
  background-color: #252525;
}