.today {
    background-color: #D2A7A7;
    width: 550px;
    padding: 10px;

}

.week {
    background-color: #EBD49A;
    width: 550px;
    padding: 10px;

}
.all {
    background-color: #a0cdb2;
    width: 550px;
    padding: 10px;
} 

.star {
    background-color: #7DAABD;
    width: 550px;
    padding: 10px;
} 
