.page {
    width: 500px;
    height: 500px;
    padding: 30px 50px;
}
.test {
    background-color: white;
}

#today {background-color: #D2A7A7;}
#week{background-color: #EBD49A;}
#all{background-color: #a0cdb2;}
#star{background-color: #a1c2cf;}

.InputTodo{
    display: flex;
    background-color: #212121;
    width: 380px;
    height: 30px;
    border-radius: 5px;
    padding: 7px 15px;

}
.InputTodo > input {
    width: 340px;
    background-color: #212121;
    color: #eeeeee;
    outline: none;
    border: 0;
    font-size: 13px;
}